.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li{
  margin-right: 0%;
}
#editBtn{
  margin-right: 5%;
}
#btnDiv{
  display: inline;
  margin-left: 2px;
}
#items{
  margin: 5% 0%;
}
.navLink{
  padding: 20px 0px;
}
.navLink:hover{
  text-decoration: none;
}
.ant-menu-submenu-selected{
  color:white !important;
  background-color: darkblue !important;
  border-radius: 25%;
}
/* Mobiles */
@media(max-width:600px){#laptopImg{height:200px}
#laptopHead_lg{display:none}
#slideshowDiv{height: 200px;background-size: contain}
#cardShadow{width:150%}
}
/* Tablets */
 /* @media(min-width:400px)and(max-width:600px){
  #buyItem{width:80%}
  #laptopImg{height:300px}
  #laptopHead_lg{display:none}
  #laptopHead_sm{padding:10px}
  #slideshowDiv{height: 300px !important;background-size: contain !important}
  #slideshowParent{height: 300px !important}
  }  */
/* Small laptops */
@media(min-width:601px) and (max-width:800px){
  #buyItem{width: 60%}
  #laptopImg{height:300px}
  #laptopHead_sm{display:none}
  #slideshowDiv{height: 600px;background-size: cover;}
  #slideshowParent{height: 600px;}
}
/* Desktops */
@media(min-width:801px){
  #buyItem{width: 50%}
  #laptopImg{height:400px}
  #laptopHead_sm{display:none}
  #slideshowDiv{height: 730px;background-size: cover;}
  #slideshowParent{height: 730px;}
}
#buyDiv{overflow-x: hidden;}
#maindiv div h5,h1{overflow-y: hidden;}
#laptopCouponCode{font-size:120%}
#slideshowDiv{background-repeat: no-repeat;}
.bg-beige {background-color: rgb(188, 188, 142);}
#mobileImg{min-height: 400px;max-height: 400px;}
#mobileDivChild{min-height: 720px;width:100%}
#mainMobileDiv{overflow-x:hidden}
#beautyItem:hover{border-bottom: white}
.ant-menu-item:hover {border-bottom: 2px solid 	#52bce6;}
.ant-menu-submenu{border-bottom:#282c34}
#cardShadow{width:100%}
@media(min-width:300px)and(max-width:500px){
  .imgDivStyle{height:50px !important;width:50px !important;}
  .imgTextDiv{display:none}
}
.pitchBlack_whiteText {background-color: black;color: white;}
#bgStyle{background-image: url(../public/img/banners/bose1.jpeg);background-size: cover;background-position: center;background-repeat: no-repeat;height: 75dvh;}
.imgTextDiv{width: 450px;height: 350px;margin-left: 15%;padding-top: 7%;opacity: 0;}
#mobImg:hover{cursor: pointer}
.footer{min-height:80px}
#footerMain{min-height:400px;width:100%;}
.footerList li{color:grey;list-style:none;padding:2% 0%;letter-spacing:3px}
li:hover{color:whitesmoke;cursor:pointer;text-decoration:underline}
.row{padding:5% 0%}
.h5Footer{color:lightgrey}
.uniqueFooter{color:lightgrey}
.uniqueFooter:hover{text-decoration:none;color:white;cursor:pointer}
.h5Footer:hover{color:White;text-decoration:underline;cursor:pointer}
.batmanLogo:hover{cursor:pointer}